.contact_form {
    width: 500px;
    box-sizing: border-box;
}
.form__title, .submit_input {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.name_input {
    float: left;
    width: 40%;
}
.email_input {
    float: right;
    width: 40%;
}
.messge_input, .submit_input {
    width: 100%;
    box-sizing: border-box;
}
.name_input, .email_input, .messge_input, .submit_input {
    margin-bottom: 15px;
}

